<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yalexin.rblog.mapper.BlogMapper">
<!--    Blog findBlog(long id);-->
    <select id="findBlog" resultMap=""></select>
    <resultMap id="blogWithCtgrAndTag" type="top.yalexin.rblog.entity.Blog">
        <id></id>
    </resultMap>
</mapper>