<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yalexin.rblog.mapper.CommentMapper">
    <!--    List<Comment> findTopCommentsByParentIdAndBlogId(Long parentId, Long blogId);-->
    <!--    用于查询某篇文章下的评论（需要通过审核）-->
    <select id="findTopCommentsByParentIdAndBlogId" resultMap="topComment">
        select * from t_comment as cmt where cmt.parent_comment_id=#{parentId} and cmt.blog_id=#{blogId} and cmt.audited=1 order by cmt.id desc
    </select>
    <resultMap id="topComment" type="Comment">
        <id column="id" property="id"></id>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="audited" column="audited"/>
        <result property="OS" column="os"/>
        <result property="browser" column="browser"/>
        <result property="sendEmailed" column="send_emailed"/>
        <result property="adminComment" column="admin_comment"/>
        <result property="blogId" column="blog_id"/>
        <result property="parentCommentId" column="parent_comment_id"/>
        <association property="replyComments" select="findTopCommentsByParentIdAndBlogId"
                     column="{blogId=blog_id,parentId=id}"></association>
    </resultMap>

    <!--    List<Comment> findCategoryByInterval(Long startIndex, Long size);-->
    <!--    用户管理员查询，便于管理评论-->
    <select id="findCategoryByInterval" resultMap="simpleCmt">
        select cmt.*, blog.name as blogName
        from (
                select *
                from t_comment
                order by create_time desc
                limit #{startIndex},#{size}
        ) as cmt
         left outer join t_blog blog on cmt.blog_id = blog.id;
    </select>

    <resultMap id="simpleCmt" type="Comment">
        <id column="id" property="id"></id>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="audited" column="audited"/>
        <result property="OS" column="os"/>
        <result property="browser" column="browser"/>
        <result property="sendEmailed" column="send_emailed"/>
        <result property="adminComment" column="admin_comment"/>
        <result property="parentCommentId" column="parent_comment_id"/>
        <result property="blogId" column="blog_id"/>
    </resultMap>

<!--    Comment findComment(Long cmtId);-->
    <select id="findComment" resultMap="simpleCmt">
        select * from t_comment where id=#{cmtId}
    </select>
</mapper>